/* Taken from https://gist.github.com/bkeating/cfe0d5e72bd3f9f1f77e1a2ff2309972 */
/* GraphiQL One Dark Alt (Dark Mode) theme by Ben Keating[1]
   * Colors taken from Atom's One Dark theme[2]. Add this file to the end of
   * your <head> block[3] to override built-in default styling.
   *
   * [1]. https://twitter.com/flowpoke
   * [2]. https://github.com/atom/atom/tree/master/packages/one-dark-ui
   * [3]. e.g. `.../site-packages/graphene_django/templates/graphene/graphiql.html`
   */

.CodeMirror {
  background: #282d34 !important;
}

.graphiql-container .doc-explorer-contents,
.graphiql-container .history-contents {
  background-color: #21262b;
  border-top: 1px solid #181a1f;
}

.graphiql-container .doc-explorer-contents .graphiql-explorer-node svg {
  margin-right: 5px !important;
}

.graphiql-container .doc-explorer-contents .graphiql-explorer-node path {
  fill: #e0dddd !important;
}

.graphiql-container .toolbar-button {
  background: #1c2125 !important;
  box-shadow: none !important;
  color: white !important;
  border: 1px solid #181a1f !important;
}

.graphiql-container .toolbar-button:hover {
  color: #c7c7c7 !important;
}

.graphiql-container .result-window .CodeMirror-gutters {
  background: #282d33;
  border: none !important;
}

.graphiql-container .resultWrap {
  border-left: solid 1px #181a1f;
}

.graphiql-container .variable-editor-title {
  background: #21262b;
  border-bottom: 1px solid #181a1f;
  border-top: 1px solid #181a1f;
  color: #cacdd3;
}

.graphiql-container .topBar {
  background: #21262b;
  border-color: #181a1f;
}

.graphiql-container .docExplorerHide {
  color: #ffffff;
}

.graphiql-container .docExplorerHide:hover {
  color: #c7c7c7;
}

.graphiql-container .doc-explorer-title,
.graphiql-container .history-title,
.doc-explorer-back {
  color: #cacdd3 !important;
}

.graphiql-container .doc-explorer {
  background: #21262b;
}

.graphiql-container .docExplorerWrap,
.graphiql-container .historyPaneWrap {
  box-shadow: none;
}

.graphiql-container .docExplorerShow {
  border-left: none;
}
.graphiql-container .docExplorerShow,
.graphiql-container .historyShow {
  background: #21262b;
  border-bottom: 1px solid #181a1e;
  color: #cacdd3;
}

.graphiql-container .docExplorerShow:before,
.graphiql-container .doc-explorer-back:before {
  border-color: #cacdd3;
}

.graphiql-container .search-box {
  margin: auto auto 10px auto;
  border: none;
}
.graphiql-container .search-box input {
  background: #1e2127;
  padding-left: 28px;
}

.graphiql-container .search-box .search-box-clear,
.graphiql-container .search-box .search-box-clear:hover {
  background: #1d2126;
}

.graphiql-container .search-box:before {
  color: #c1c4ca;
  font-size: 21px;
  left: 8px;
}

.search-box-icon {
  position: absolute;
  padding-left: 5px;
}

.graphiql-container,
.graphiql-container button,
.graphiql-container input {
  color: #9299a7;
}

.CodeMirror-gutters {
  border: none !important;
  background-color: #282d33;
}

.graphiql-container .execute-button {
  background: #21262b;
  border: 1px solid rgb(91, 98, 107);
  box-shadow: none !important;
  fill: #c9ccd2;
}

.graphiql-container .execute-button:hover {
  fill: #999ba0;
}

.graphiql-container .history-contents p {
  border: none;
}

.graphiql-container .historyPaneWrap {
  background: #21262b;
}

.graphiql-container .execute-options > li.selected,
.graphiql-container .toolbar-menu-items > li.hover,
.graphiql-container .toolbar-menu-items > li:active,
.graphiql-container .toolbar-menu-items > li:hover,
.graphiql-container .toolbar-select-options > li.hover,
.graphiql-container .toolbar-select-options > li:active,
.graphiql-container .toolbar-select-options > li:hover,
.graphiql-container .history-contents > p:hover,
.graphiql-container .history-contents > p:active {
  background: #383c41;
}

.graphiql-container .doc-category-title {
  border-bottom: 1px solid #181a1f;
  color: #cacdd3;
}

.graphiql-container .field-name {
  color: #0083c7;
}

.graphiql-container .type-name {
  color: #ff6d5d;
}

.graphiql-container .keyword {
  color: #9ea5b0;
}

.graphiql-container .arg-name {
  color: #0083c7;
}

.graphiql-container .doc-category-item {
  color: #ff9f4c;
}

.graphiql-container .variable-editor-title-text.active {
  color: white;
}

.cm-property {
  color: #0083c7;
}

.cm-number {
  color: #97b1aa;
}

.cm-string {
  color: #00917d;
}

.cm-builtin {
  color: #da8aff;
}

.cm-variable {
  color: #f9f871;
}

.cm-attribute {
  color: #00b8ff;
}

.cm-def {
  color: #9f51d9;
}

.cm-punctuation {
  color: #c7c7c7 !important;
}

.doc-type-description code {
  color: #cc3932;
  background-color: #383c41 !important;
}

.cm-keyword {
  color: #ff6d5d;
}

.cm-atom {
  color: #ff9f4c;
}

a {
  color: #7b9ad4;
}

.CodeMirror .CodeMirror-cursor {
  border-left: 1px solid white;
}

.CodeMirror-lint-tooltip {
  background: #1a1e22 !important;
  color: red;
}

.CodeMirror-hints {
  background: #21262a;
  box-shadow: 0 16px 13px -10px rgba(0, 0, 0, 0.3);
}
.CodeMirror-hint {
  border-top: solid 1px #212629;
  color: #a45300;
}
.CodeMirror-hint-information {
  border-top: solid 1px #181a1e;
}
li.CodeMirror-hint-active {
  background-color: #262c2f;
  border-top-color: #212629;
  color: #d17825;
}
.CodeMirror-hint-information .content {
  color: #a4abb7;
}

.graphiql-container .tabs {
  background: #21262b;
}

.graphiql-container .tabs .tab,
.graphiql-container .tab-add,
.graphiql-container .tab .close::before {
  background: #1c2125;
  color: rgba(255, 255, 255, 0.7);
}

.graphiql-container .tab-add:hover,
.graphiql-container .tabs .tab:hover {
  color: rgba(255, 255, 255, 0.9);
}

.graphiql-container .tabs .tab.active,
.graphiql-container .tab.active .close::before {
  color: rgba(255, 255, 255, 1);
}

.graphiql-container .tabs .tab {
  border-color: rgba(146, 153, 167, 0.3);
}

.graphiql-container .tabs .tab:first-child {
  border: none;
}
