name: Benchmark
on:
  pull_request:

jobs:
  benchmarks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Use Node
        uses: actions/setup-node@master
        with:
          node-version: 17
          cache: 'yarn'

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - name: Cache Yarn
        id: yarn-cache-17
        uses: actions/cache@v3
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-17-node-modules-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-17-node-modules-

      - name: Install Dependencies using Yarn
        run: yarn

      - name: Build Packages
        run: yarn build

      - name: Setup K6
        run: |
          sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys C5AD17C747E3415A3642D57D77C6C491D6AC1D69
          echo "deb https://dl.k6.io/deb stable main" | sudo tee /etc/apt/sources.list.d/k6.list
          sudo apt-get update
          sudo apt-get install k6

      - name: Start Yoga Server
        working-directory: ./benchmark/hello-world
        run: yarn start & sleep 5s
        env:
          NODE_OPTIONS: --experimental-fetch
          NODE_NO_WARNINGS: true
          NODE_ENV: production
      - name: Start and Report Yoga Benchmark
        working-directory: ./benchmark/hello-world
        run: k6 -e GITHUB_PR=${{ github.event.number }} -e GITHUB_SHA=${{ github.sha }} -e GITHUB_TOKEN=${{secrets.GITHUB_TOKEN}} run k6.js
