name: Tests
on:
  pull_request:
    paths:
      - 'packages/**'
      - 'examples/**'
      - 'patches/**'

jobs:
  test-node:
    name: Testing on Node ${{ matrix.node-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12, 14, 17]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Use Node ${{ matrix.node-version }}
        uses: actions/setup-node@master
        with:
          node-version: ${{ matrix.node-version }}

      - name: Get yarn cache
        uses: c-hive/gha-yarn-cache@v2

      - name: Install Dependencies using Yarn
        run: yarn --ignore-engines

      - name: Build Packages
        run: yarn build

      - if: matrix.node-version == 17
        name: Run Tests with --experimental-fetch
        run: yarn test
        env:
          NODE_OPTIONS: --experimental-fetch
          NODE_NO_WARNINGS: true

      - if: matrix.node-version != 17
        name: Run Tests
        run: yarn test

  test-cf:
    name: Testing on Cloudflare Workers w/ Modules Approach
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Use Node 17
        uses: actions/setup-node@master
        with:
          node-version: 17

      - name: Get yarn cache
        uses: c-hive/gha-yarn-cache@v2

      - name: Install Dependencies using Yarn
        run: yarn --ignore-engines

      - name: Build Packages
        run: yarn build

      - name: Run Tests
        working-directory: ./examples/cloudflare-modules
        run: yarn test

  typecheck:
    name: Typecheck
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Use Node 17
        uses: actions/setup-node@master
        with:
          node-version: 17

      - name: Get yarn cache
        uses: c-hive/gha-yarn-cache@v2

      - name: Install Dependencies using Yarn
        run: yarn --ignore-engines

      - name: Build Packages
        run: yarn build

      - name: Typecheck
        run: yarn run check
