name: Tests
on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12, 14, 17]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0

      - name: Use Node ${{ matrix.node-version }}
        uses: actions/setup-node@master
        with:
          node-version: ${{ matrix.node-version }}

      - name: Get yarn cache
        uses: c-hive/gha-yarn-cache@v2

      - name: Install Dependencies using Yarn
        run: yarn --ignore-engines

      - name: Build Packages
        run: yarn build

      - name: Run Tests
        run: yarn test
