name: Tests
env:
  NODE_NO_WARNINGS: true
on:
  push:
    branches:
      - 'master'
  pull_request:
    paths-ignore:
      - 'website/**'

jobs:
  test-node:
    name: Testing on Node ${{ matrix.node-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12, 14, 16, 18]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Use Node ${{ matrix.node-version }}
        uses: actions/setup-node@master
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'

      - name: Install Dependencies using Yarn
        run: yarn install --ignore-engines --frozen-lockfile --immutable

      - name: Build Packages
        run: yarn build

      - name: Run Tests
        run: yarn test

  test-esm:
    name: Testing with Node ESM
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Use Node 18
        uses: actions/setup-node@master
        with:
          node-version: 18
          cache: 'yarn'

      - name: Install Dependencies using Yarn
        run: yarn install --ignore-engines --frozen-lockfile --immutable

      - name: Build Packages
        run: yarn build

      - name: Run Tests
        working-directory: ./examples/node-esm
        run: yarn test

  typecheck:
    name: Typecheck
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Use Node 18
        uses: actions/setup-node@master
        with:
          node-version: 18
          cache: 'yarn'

      - name: Use Deno
        uses: denoland/setup-deno@v1

      - name: Install Dependencies using Yarn
        run: yarn install --ignore-engines --frozen-lockfile --immutable

      - name: Build Packages
        run: yarn build

      - name: Typecheck
        run: yarn run check

      - name: Test ESM & CJS exports integrity
        run: yarn bob check
