name: test
env:
  NODE_NO_WARNINGS: true
on:
  push:
    branches:
      - 'v2'
  pull_request:
    paths-ignore:
      - 'website/**'

jobs:
  node:
    name: unit / nodejs v${{ matrix.node-version }}
    uses: the-guild-org/shared-config/.github/workflows/ci-node-matrix.yml@main
    with:
      script: 'yarn build && yarn test'
      nodeVersions: '[12,14,16,18]'

  test-esm:
    name: esm
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup env
        uses: the-guild-org/shared-config/setup@main
        with:
          nodeVersion: 18

      - name: Build Packages
        run: yarn build

      - name: Run Tests
        working-directory: ./examples/node-esm
        run: yarn test

  typecheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup env
        uses: the-guild-org/shared-config/setup@main
        with:
          nodeVersion: 18

      - name: Use Deno
        uses: denoland/setup-deno@v1

      - name: Build Packages
        run: yarn build

      - name: Typecheck
        run: yarn run check

      - name: Test ESM & CJS exports integrity
        run: yarn bob check
