name: Tests
env:
  NODE_NO_WARNINGS: true
on:
  push:
    branches:
      - 'master'
  pull_request:
    paths-ignore:
      - 'website/**'

jobs:
  test-node:
    name: Testing on Node ${{ matrix.node-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14, 16, 18]
      fail-fast: false
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Use Node ${{ matrix.node-version }}
        uses: actions/setup-node@master
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'

      - name: Cache Node Modules
        uses: actions/cache@v3
        id: node-modules-cache-test-node
        with:
          path: '**/node_modules'
          key: ${{runner.os}}-${{ matrix.node-version }}-node-modules-${{hashFiles('yarn.lock')}}-${{hashFiles('patches/**/*')}}
          restore-keys: |
            ${{runner.os}}-${{ matrix.node-version }}-node-modules-${{hashFiles('yarn.lock')}}-${{hashFiles('patches/**/*')}}
      - name: Install Dependencies using Yarn
        run: yarn install --ignore-engines --frozen-lockfile --immutable
        if: steps.node-modules-cache-test-node.outputs.cache-hit != 'true'

      - name: Run Tests
        run: yarn test

  test-integration:
    name: Run integration tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14, 16, 18]
      fail-fast: false
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Use Node ${{ matrix.node-version }}
        uses: actions/setup-node@master
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'

      - name: Cache Node Modules
        uses: actions/cache@v3
        id: node-modules-cache-test-node
        with:
          path: '**/node_modules'
          key: ${{runner.os}}-${{ matrix.node-version }}-node-modules-${{hashFiles('yarn.lock')}}-${{hashFiles('patches/**/*')}}
          restore-keys: |
            ${{runner.os}}-${{ matrix.node-version }}-node-modules-${{hashFiles('yarn.lock')}}-${{hashFiles('patches/**/*')}}
      - name: Install Dependencies using Yarn
        run: yarn install --ignore-engines --frozen-lockfile --immutable
        if: steps.node-modules-cache-test-node.outputs.cache-hit != 'true'

      - name: Build Packages
        run: yarn build

      - name: Run Tests
        run: yarn test:integration

  test-esm:
    name: Testing with Node ESM
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Use Node 18
        uses: actions/setup-node@master
        with:
          node-version: 18
          cache: 'yarn'

      - name: Cache Node Modules
        uses: actions/cache@v3
        id: node-modules-cache-test-esm
        with:
          path: '**/node_modules'
          key: ${{runner.os}}-18-node-modules-${{hashFiles('yarn.lock')}}
          restore-keys: |
            ${{runner.os}}-18-node-modules-
      - name: Install Dependencies using Yarn
        run: yarn install --ignore-engines --frozen-lockfile --immutable
        if: steps.node-modules-cache-test-esm.outputs.cache-hit != 'true'

      - name: Build Packages
        run: yarn build

      - name: Run Tests
        run: yarn workspace example-node-esm run test

  typecheck:
    name: Typecheck
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Use Node 18
        uses: actions/setup-node@master
        with:
          node-version: 18
          cache: 'yarn'

      - name: Use Deno
        uses: denoland/setup-deno@v1

      - name: Cache Node Modules
        uses: actions/cache@v3
        id: node-modules-cache-type-check
        with:
          path: '**/node_modules'
          key: ${{runner.os}}-18-node-modules-${{hashFiles('yarn.lock')}}
          restore-keys: |
            ${{runner.os}}-18-node-modules-
      - name: Install Dependencies using Yarn
        run: yarn install --ignore-engines --frozen-lockfile --immutable
        if: steps.node-modules-cache-type-check.outputs.cache-hit != 'true'

      - name: Build Packages
        run: yarn build

      - name: Typecheck
        run: yarn run check

      - name: Test ESM & CJS exports integrity
        run: yarn bob check

      - name: Prettier
        run: yarn prettier:check
