name: test
env:
  NODE_NO_WARNINGS: true
on:
  push:
    branches:
      - 'v2'
      - 'v3'
  pull_request:
    paths-ignore:
      - 'website/**'

jobs:
  unit:
    name: unit / nodejs v${{ matrix.node-version }}
    uses: the-guild-org/shared-config/.github/workflows/ci-node-matrix.yml@main
    with:
      script: 'pnpm build && pnpm test'
      nodeVersions: '[14,16,18]'

  integration:
    name: integration / nodejs v${{ matrix.node-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14, 16, 18]
      fail-fast: false
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Use Node ${{ matrix.node-version }}
        uses: actions/setup-node@master
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: Use PNPM
        uses: pnpm/action-setup@v2.2.4
        with:
          version: latest

      - name: Cache Node Modules
        uses: actions/cache@v3
        id: node-modules-cache-test-node
        with:
          path: '**/node_modules'
          key: ${{runner.os}}-${{ matrix.node-version }}-node-modules-${{hashFiles('pnpm-lock.yaml')}}-${{hashFiles('patches/**/*')}}
          restore-keys: |
            ${{runner.os}}-${{ matrix.node-version }}-node-modules-${{hashFiles('pnpm-lock.yaml')}}-${{hashFiles('patches/**/*')}}
      - name: Install Dependencies using pnpm
        run: pnpm install --ignore-engines --frozen-lockfile --immutable
        if: steps.node-modules-cache-test-node.outputs.cache-hit != 'true'

      - name: Build Packages
        run: pnpm build

      - name: Run Tests
        run: pnpm test:integration --ci

  esm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup env
        uses: the-guild-org/shared-config/setup@main
        with:
          nodeVersion: 18

      - name: Build Packages
        run: pnpm build

      - name: Run Tests
        run: pnpm workspace example-node-esm run test

  typecheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup env
        uses: the-guild-org/shared-config/setup@main
        with:
          nodeVersion: 18

      - name: Setup Bun Runtime
        uses: antongolub/action-setup-bun@v1

      - name: Setup Deno Runtime
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - name: Build Packages
        run: pnpm build

      - name: Typecheck
        run: pnpm run check

      - name: Test ESM & CJS exports integrity
        run: pnpm bob check

      - name: Prettier
        run: pnpm prettier:check
