name: Website Integrity
on:
  pull_request:
    paths:
      - 'website/**'
jobs:
  website-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Use Node 16
        uses: actions/setup-node@master
        with:
          node-version: 16
          cache: 'yarn'
      - name: Install Dependencies using Yarn
        run: yarn --ignore-engines

      - name: Build Packages
        run: yarn build

      - name: Typecheck
        run: yarn workspace @graphql-yoga/website run build
      - name: Diff
        run: git diff --exit-code -- website/route-lockfile.txt

      - name: Compare
        run: git diff origin/${{ github.base_ref }}.. -- website/route-lockfile.txt | grep "^-[^-]" && exit 1 || exit 0

      - name: Diff to file
        if: always()
        id: diff_result
        run: |
          OUTPUT=$(git diff origin/${{ github.base_ref }}.. -- website/route-lockfile.txt)
          echo "::set-output name=result::$OUTPUT"

      - name: Publish a message
        if: contains(steps.diff_result.outputs.result, 'diff')
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          path: website/route-lockfile.diff
          message: |
          ```diff
          ${{ steps.diff_result.outputs.result }}
          ```
